<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- FONT AWESOME -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script> {{!-- Pacifico Font via Google --}}
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


    <!-- Javascript files -->
    <script src="/assets/javascript/index.js"></script>
    <script src="/assets/javascript/itinerary.js"></script>
    <script src="/assets/javascript/results.js"></script>
    <title>Jaunt.</title>

    {{!-- Custom Style: This will eventually be separated out --}}
    <style>
        html {
            height: 100%;
            min-width: 320px;
        }

        body {
            height: 100%;
            margin: 0;

            background: #cc2b5e;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #753a88, #cc2b5e);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #753a88, #cc2b5e);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-repeat: no-repeat;
            background-attachment: fixed;
        }



        .h1 {
            font-family: 'Pacifico', cursive;
            font-size: 40px;
            font-weight: normal;
        }

        h6 {
            font-family: 'Courier New', Courier, monospace;
        }

        .nav {
            text-align: center;
        }

        a:hover {
            color: #A9D82B;
        }

        .black {
            color: black;
        }

        .btn-block {
            border-radius: 50px;
        }

        nav {
            -webkit-box-shadow: 0 8px 6px -6px #999;
            -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
        }

        .fa-nav {
            padding: 0;
            border: none;
            background: none;
        }

        .fa-nav:hover {
            color: #A9D82B;

        }

        @media screen and (max-height: 1030px) {
            img {
                max-height: 40vh;
            }
        }

        @media screen and (max-height: 750px) {
            img {
                max-height: 250px;
            }
        }

        @media screen and (max-height: 668px) {
            img {
                max-height: 215px;
            }
        }

        @media screen and (max-height: 640px) {

            img {
                max-height: 30vh;
            }


            .card {
                max-height: 50vh;
            }

        }

        @media screen and (max-height: 569px) {

            img {
                max-height: 25vh;
            }
            .card {
                max-height: 80vh;
            }

        }
    </style>
</head>

<body>
    <div class="content-container">
        <!-- Navigation -->
        <nav class="navbar navbar-white bg-white shadow p-3">
            <div class="container-fluid ">
                <div class="col-lg-12 text-center mx-auto border-bottom">
                    <a class="navbar-brand mx-auto h1" href="/">
                        Jaunt.
                    </a>
                </div>
                <div class="container-fluid bg-white mx-auto pt-4" id="snark-container">
                    <h6 class="mx-auto text-center text-secondary">
                        <i id="snarky-quote">(...because your date ideas suck)</i>
                    </h6>
                </div>
            </div>
        </nav>


        <br> {{{ body }}}

    </div>

    <div class="fixed-bottom bg-white mt-4" id="footer">


        <div class="d-flex">
            <div class="p-2">
                <h1 class="text-left ml-4">
                    <a class="black" href="https://github.com/martttizzle/Date_Now">
                        <i class="fa fa-github"></i>
                    </a>
                </h1>
            </div>
            <div class="ml-auto p-2">
                <h1 class="text-right mr-4">
                    <a class="black" href="https://www.instagram.com/jaunt_app/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </h1>
            </div>
        </div>
    </div>


</body>

</html>