<!-- Main Form Container -->
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-12">

            <form id="search-form" action="/results" method="get">
                <!-- Notes:Add icons/ Add Google - Get-Location button in this input box.  Look into natural language forms -->

                <label for="user-location-input">
                    <h4 class="text-white">Date Location:</h4>
                </label>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text btn btn-warning" id="btn-location">
                                <span class="fa fa-map-marker"></span>
                            </span>
                        </div>
                        <input type="text" class="form-control rounded-0" id="user-location-input" placeholder="55411" data-location="" data-real-zipcode=""
                            aria-label="user-location-input" aria-describedby="btn-location" required>
                    </div>


                </div>
                <div class="form-group">
                    <label for="date-options-input text-white">
                        <h4 class="text-white">Select a Date Category:</h4>
                    </label>
                    <select class="form-control rounded-0" id="date-options-input">
                        <option selected>Restaurant</option>
                        <option>Bar</option>
                        <option>Museum</option>
                        <option>Park</option>
                        <option selected>Random</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="max-range-input text-white">
                        <h4 class="text-white">Max Miles?:</h4>
                    </label>
                    <select class="form-control rounded-0" id="max-range-input">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select>
                </div>

                <button type="submit" class="mt-4 btn btn-success btn-block">
                    <h4 class="text-white">Submit</h4>
                </button>
                <h4 class="text-white text-center mt-3">Other Options:</h4>

                <button id="popular-places" class="mt-4 btn btn-info btn-block">
                    <h4 class="text-white">#Trending</h4>
                </button>
            </form>
        </div>
    </div>
</div>

<br>
<br>