

<!-- Main Form Container -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <form id="search-form">
                <!-- Notes:Add icons/ Add Google - Get-Location button in this input box.  Look into natural language forms -->
                <div class="form-group">
                    <button class="btn btn-primary" id="btn-location">My Location</button>

                    <br>

                    <label for="user-location-input">Enter Your Location:</label>

                    <input type="text" class="form-control" id="user-location-input" placeholder="55411" required>
                </div>
                <div class="form-group">
                    <label for="date-options-input">Select a Date Option:</label>
                    <select class="form-control" id="date-options-input">
                        <option selected>Restaurant</option>
                        <option>Activity</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="max-range-input">Max Miles?:</label>
                    <select class="form-control" id="max-range-input">
                        <option selected>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>